*.DS_Store
*.swp

bin
lib
pack

build
build-ios
build-macos
build-win
build-android

*.tmp
*.x
*.x.c
*.pro.user

*.pdb
*.exp
*.ilk
*.vs
*.vcxproj.filters
*.vcxproj.user

build-Gtools*
build-ODWay*

GTools/Info.plist
ODWay/Info.plist
